<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <img class="rounded mx-auto d-block" src="https://images.unsplash.com/photo-1508766917616-d22f3f1eea14?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="kITCHEN">
    <p class="mt-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis placeat quia ex nulla modi, sint hic tempore temporibus, quibusdam reprehenderit facilis sit veniam itaque nisi blanditiis suscipit rem iusto dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, quas reiciendis mollitia quia perferendis, architecto, repudiandae repellendus nobis quo veritatis totam? Quis eveniet sed excepturi nesciunt? Vel debitis deserunt ratione.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est quis delectus odit? Eaque ullam nihil harum, architecto, nemo sint recusandae qui itaque, fugiat quasi officia modi eum voluptate. At, vel?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aut dolor adipisci debitis consectetur, expedita deserunt maiores tempore? Voluptatum molestias recusandae obcaecati possimus repudiandae impedit at culpa ratione quaerat eius?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, non? Aliquid ipsum neque sit accusamus quisquam corrupti et commodi repellendus vero quibusdam magni sunt tenetur perspiciatis, odio ex consectetur itaque!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati recusandae excepturi, ipsa impedit accusantium, enim quo reprehenderit in blanditiis nemo eveniet, fugiat consectetur alias accusamus maiores beatae rem saepe earum.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo temporibus quam id tempora doloribus voluptatum reprehenderit amet laudantium! Perferendis veniam nobis alias quos aliquid repellendus quibusdam, eius laudantium voluptatem nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, deleniti aspernatur. Eveniet qui consectetur ut doloribus fugiat vel delectus nostrum, esse excepturi quis exercitationem officiis nemo necessitatibus! Mollitia, rerum illo.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos omnis officiis animi blanditiis accusamus minus hic officia, dicta voluptate! Dolorum tenetur nostrum possimus atque consequatur sequi eaque fugiat velit error.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus repellat provident beatae velit laudantium deleniti voluptatum in quasi blanditiis deserunt, quas libero iste dolorem laboriosam quam distinctio itaque consequatur ullam.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsam aperiam maxime, illo cumque atque neque reprehenderit quisquam cum repellendus voluptatibus recusandae impedit quibusdam. Ab, iusto possimus! Qui, illum perspiciatis?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, maxime soluta voluptatem voluptatum fugit eius? Reprehenderit culpa est tempora eligendi, ipsa mollitia ad commodi quibusdam dolores soluta dolor ut illo.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ipsum explicabo vel distinctio, quae itaque ipsam voluptatem nihil corporis sunt, aliquam autem similique ducimus nemo! Deserunt corrupti quos autem provident.
    </p>
    <a routerLink="" class="btn btn-sm btn-dark mb-3">Back</a>
</div>
