<div class="banner">
    <div class="content">
        <h1 class="mb-4">Fresh Cooked Food <br> At Your Door</h1>
        <a routerLink="menu">Order Now <i class="bi bi-arrow-right"></i></a>

    </div>
</div>
<!-- steps --> 
<div class="container mt-5 mb-4">
    <h1 class="text-center">How to get <span class="highlight"> fresh food</span></h1>
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <div class="stepbox">
                <h1>1</h1>
                <p>Select food</p>

            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepbox">
                <h1>2</h1>
                <p>Fill the details</p>

            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepbox">
                <h1>3</h1>
                <p>Your order delivered in minute</p>

            </div>
        </div>
    </div>
</div>
<!-- food box -->
<div class="container mt-5 mb-4">
    <h1 class="text-center">Customers <span class="highlight"> Favourite Food</span></h1>
    <div class="row mt-5" >
        <div class="col-lg-3" *ngFor="let fd of foodData; let i = index" >
            <div class="foodBox" *ngIf="i<=3">
                <img class="foodpic" [src]="fd.foodPic"/>
                <h1>{{ fd.foodName }} </h1>
                <p> {{ fd.foodPrice | currency:'Rs ' }} </p>
                
            </div>
        </div>
    </div>
    <a routerLink="menu" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
</div>